body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction:column;
}

.container{
    display:flex;
    margin-top: 5%;
    height:94.5vh;
    background-color: blueviolet;
}

.left-panel{
    width:50%;
    border-right:1px solid gray;
    
}

.right-panel{
    width:50%;
}

#drop-zone{
    border:5px dashed black;
    margin:10px;
    height: 95%;
    display:flex;
    justify-content:center;
    align-items:center;

}

#Contentviewer{
    height:100%;
    justify-content:center;
    align-items:center;
    overflow:auto;
    display:none; 
}

#viewer{
    width: 100%;
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    width:100%;
    height:90%;
    box-sizing:border-box;
}





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

  .toolbarLeft {
    

    position: absolute;
    margin-top: 2.5%;
    
    top: 0;
    left: 0;
    right: 50%;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    

    border: 1px solid rgb(211, 211, 211);

    color: rgb(51, 51, 51);
    font-weight: 600;
    
    padding-right: 3%;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 120%;
  }


    .toolbarRight {
    position: absolute;
    margin-top: 2.5%;
    
    top: 0;
    left: 50%;
    right: 0;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    

    border: 1px solid rgb(211, 211, 211);

    color: rgb(51, 51, 51);
    font-weight: 600;
    
    padding-right: 3%;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 120%;
  }

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    

    border: 1px solid rgb(211, 211, 211);

    color: rgb(51, 51, 51);
    font-weight: 600;
    
    padding-right: 3%;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 120%;
  }

  .toolbar img {
    margin: 0 16px;
  }



.opcionesBarra{
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.opcionesBarra button{
  background-color: #f7f7f7;
  border: none;
  color: rgb(51, 51, 51);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 100%;
}

/*++++++++++++++++++++++++*/


#editor{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    background: white;
    outline: none;
    box-sizing: border-box;
}



#drop-docx{
    border:5px dashed black;
    margin:10px;
    height: 95%;
    display:flex;
    justify-content:center;
    align-items:center;

}

#ContentDoc{
    height:100%;
    justify-content:center;
    align-items:center;
    overflow:auto;
    display:none; 
}



/*-----------------------------------------------------*/


:root {
    --scale-factor: 1;
}

.pdfViewer {
    --scale-factor: 1;
}

.pdfViewer .page {
    position: relative;
    overflow: visible;
    background-color: white;
}



.textLayer {
    position: absolute;
    inset: 0;
    overflow: hidden;
    line-height: 1;
}

.textLayer span {
    position: absolute;
    white-space: pre;
    transform-origin: 0 0;

    /* Hacer el texto invisible */
    color: transparent;
}

.pdfview{
    width: 100%;
    height: 100%;
    border: none;
}