body{
    margin:0;
    height:100vh;
    display:flex;
    flex-direction:column;
}

.container{
    display:flex;
    margin-top: 3.3%;
    height:94.5vh;
    background-color: rgb(255, 0, 0);
}

.left-panel{
    width:50%;
    border-right:1px solid gray;
    background-color: #ff634a;
}

.right-panel{
    width:50%;
    background-color: #f4f4f6
}

#drop-zone{
    border:5px dashed black;
    margin:10px;
    height: 95%;
    display:flex;
    justify-content:center;
    align-items:center;

}

#Contentviewer{
    height:100%;
    justify-content:center;
    align-items:center;
    overflow:auto;
    display:none; 

}

#viewer{
    width: 100%;
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    width:100%;
    height:90%;
    box-sizing:border-box;
}





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.toolbarLeft {

    position: absolute;

    
    top: 0;
    left: 0;
    right: 50%;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: #181D1A;
    

    border: 1px solid #181D1A;

    color: rgb(209, 209, 209);
    font-weight: 600;
    
    padding-left: 1%;
    padding-right: 1%;
    
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 120%;

  justify-content: space-between;
  }


.toolbarRight {
    position: absolute;
    
    top: 0;
    left: 50%;
    right: 0;
    height: 7%;
    display: flex;
    align-items: center;
    background-color: #181D1A;
    

    border: 1px solid #181D1A;

    color: rgb(209, 209, 209);
    font-weight: 600;
    
    padding-right: 3%;
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 120%;


    justify-content: right;
  }

  .spanTitle{
    text-align: left;
  }


  .toolbarButtons {
    pointer-events: none;
    opacity: 0.5;
    
    display: flex;

    /*display: flex;*/
    align-items: center;
    gap: 5px;
}


.toolbarButtons button{
    color: rgb(85, 85, 85);
    cursor: not-allowed;


    border: none; 

    padding: 7px 14px; 
    cursor: pointer; 

}

.newDocButton {
        pointer-events: auto;
    opacity: 1;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.panel-disabled {
    pointer-events: auto;
    opacity: 1;
}

.panel-disabled button {
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.newDocButton{
    opacity: 1;
    color: rgb(0, 0, 0);
    pointer-events: auto;
    cursor: pointer;


    
    display: flex;

    /*display: flex;*/
    border: 1px solid #181D1A;
    margin-right: 1%;
    gap: 5px;
    border-radius: 0%;
    padding: 7px 14px; 
/**/



}


.button-disabled {
    color: rgb(85, 85, 85);
    cursor: not-allowed;

    pointer-events: none;
    opacity: 0.5;
}




.search-box{
    border: 1px solid #181D1A;
    margin-right: 1%;
    gap: 5px;
    border-radius: 0%;
    padding: 7px 14px; 
    gap: 5px;
    border-radius: 0%;
}


/*--------------------------menu desplegable---------------------------------*/


.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* oculto */

    width: 300px;
    height: 100vh;

    background: white;
    box-shadow: 2px 0 10px rgba(0,0,0,.2);

    overflow-y: auto;

    transition: left 0.3s ease;

    z-index: 9999;
}

.sidebar.open {
    left: 0;
}

.sidebar a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    background: #f1f1f1;
}


/*-----------buscador epub--------------*/

.search-container{
    position: relative;
}

.search-results{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;

    overflow-y: auto;

    background: white;
    border: 1px solid #ccc;

    display: none;

    z-index: 1000;
}

.search-results.open{
    display: block;
}

.search-results a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: black;
}

.search-results a:hover{
    background: #f2f2f2;
}

mark{
    background: yellow;
    color: black;
    padding: 0;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


#editor{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
    background: white;
    outline: none;
    box-sizing: border-box;
}



#drop-docx{
    border:5px dashed black;
    margin:10px;
    height: 95%;
    display:flex;
    justify-content:center;
    align-items:center;

}

#ContentDoc{
    height:100%;
    justify-content:center;
    align-items:center;
    overflow:auto;
    display:none; 
}



/*-----------------------------------------------------*/


.pdfview{
    width: 100%;
    height: 100%;
    border: none;
}

/*--------------------------------------------------------*/

.menuBtn{
    display: none;
}

